html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  width: 100%;
  background-image: url(bkg.jpg);
  background-size: 200px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
}

header h1 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 2vw;
  font-weight: bolder;
  color: rgb(43, 43, 43);
  padding: 5px;
  margin: 8px;
  align-content: center;
  font-weight: bold;  
}

#areaJogo { 
  display: flex column;
  align-items: center;
  justify-content: center; 
  width: 80%;
  border-radius: 10px 10px 10px 10px;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.712);
  padding: 20px; 
  border-radius: 5px;
  box-shadow: 10px 20px 25px 5px  rgb(63, 63, 63);
  margin-right: 10px;
}

.column {
  text-align: center;
  border: 2px solid rgb(51, 51, 51);
  border-top: 0px;
  border-radius: 4px ;
  background-image: linear-gradient(90deg, rgb(194, 194, 194), white, rgb(202, 202, 202));
  width: auto;
  height: auto;
  padding: 5px;
 }

 .column:hover {
  border: #ffffff 2px solid;
  
}

.square {
  width: 5.5vw;
  height: 5.5vw;
  text-align: center;
  border-top: 0px; 
  background-image: linear-gradient( rgb(107, 107, 107), rgb(134, 134, 134), rgb(80, 79, 79));
  border-radius: 100%;
  margin: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.712);
  height: 50px;
  width: 100%;
  color: rgb(255, 255, 255);  
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
}


/* jogadors */
#player1 {
  
  background-color:rgb(16, 40, 177);
  border-radius: 100%;
  width: 5.5vw;
  height: 5.5vw;
  box-shadow: inset 0 0 1em rgb(5, 5, 12);
  animation-name: slideDown;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;	
  
visibility: visible !important;						
}

@keyframes slideDown {
0% {
  transform: translateY(-1000%);
}
50%{
  transform: translateY(8%);
}
65%{
  transform: translateY(-4%);
}
80%{
  transform: translateY(4%);
}
95%{
  transform: translateY(-2%);
}			
100% {
  transform: translateY(0%);
}		

}

#player2 {
  background-color:red;
  border-radius: 100%;
  width: 5.5vw;
  height: 5.5vw;
  box-shadow: inset 0 0 1em rgb(12, 12, 12);

  animation-name: slideDown;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;	
  
visibility: visible !important;						
}

@keyframes slideDown {
0% {
  transform: translateY(-600%);
}
50%{
  transform: translateY(8%);
}
65%{
  transform: translateY(-4%);
}
80%{
  transform: translateY(4%);
}
95%{
  transform: translateY(-2%);
}			
100% {
  transform: translateY(0%);
}		

}

.modal{
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); 
  display: none;
}

.modal-content {
  display: flex column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.219);
  margin: auto;
  padding: 20px;
  border: 2px solid rgb(94, 94, 94);
  width: 50vw;
  height: 50vh;
  border-radius: 8px;
}

.gameOver{
    font-size: 6vw;
    text-align: center;
    margin-top: 30px;
    color: rgb(230, 230, 230);
}

.modal-content p{
    font-size: 2.8vw;
    text-align: center;
    padding: 30px;
    color: #ddd;
}

.modal-content button{
    width: 35%;
    height: 15%;
    font-size: 1.3vw;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 20px;
    color: #ddd;
    background-color: rgb(31, 31, 31);
}

@media (max-width: 900px){
    footer{
        font-size: 15px;
        text-align: center;
        line-height: 20px;
    }

    #areaJogo{
        margin-top: 5vw;
        width: 95%;
        margin-left: 10px;
    }

    .square{
        width: 8vw;
        height: 8vw;
        margin: 1px;
    }

    #player1{
        width: 8vw;
        height: 8vw;
    }

    #player2{
        width: 8vw;
        height: 8vw;
    }

    .modal-content{
        width: 250px;
        height: 250px;
    }

    .modal-content p{
        font-size: 25px;
        
    }

    .modal-content button{
        width: 150px;
        font-size: 12px;
    }

    .gameOver{
        font-size: 50px;
    }
}